
UnityShaderCompeniumCompiler/packages
UnityShaderCompeniumCompiler/UnityShaderCompeniumCompiler/bin
UnityShaderCompeniumCompiler/UnityShaderCompeniumCompiler/obj
UnityShaderCompeniumCompiler/UnityShaderCompeniumCompiler/UnityShaderCompeniumCompiler.csproj.user
UnityShaderCompeniumCompiler/.vs
